<nav class="navbar">
  <span class="appName" routerLink="/" >{{appName}}</span>
  <div class="myCart">
    <h4 class="form-control" routerLink="/add-movie">Add movie</h4>
    <h4>
      <i class="material-icons icart">shopping_cart</i>Budget left: ${{cart.money}}.00
      <i class="material-icons iarr" (click)="addMoney()">keyboard_arrow_up</i>
      <i class="material-icons iarr" (click)="reduceMoney()">keyboard_arrow_down</i>
    </h4>
  </div>
</nav>
<div class="cont">
  <h1 class="textApp">
    Welcom to <span>Anguflix</span><br> your home movies library
  </h1>
</div>