body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    background-color: black;
}
body::before{
    content: "";
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0px;
    background-image:linear-gradient(to right,rgba(0,0,0,.8) 20%,rgba(0,0,0,0) 85%);
}
.dnd-drag-start {
    -moz-transform:scale(0.8);
    -webkit-transform:scale(0.8);
    transform:scale(0.8);
    opacity:0.7;
    border: 2px dashed #000;
}

.dnd-drag-enter {
    opacity:0.7;
    border: 2px dashed #000;
}

.dnd-drag-over {
    border: 2px dashed #000;
}
.dnd-drag-over h3{
    border: 2px dashed #e50914!important;
}

.dnd-sortable-drag {
  -moz-transform:scale(0.9);
  -webkit-transform:scale(0.9);
  transform:scale(0.9);
  opacity:0.7;
  border: 1px dashed #000;
}